<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Python_Data_Analytics_Course/blob/main/4_Problems/2_07_Pandas Merge DataFrames.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

In [1]:

# Importing Libraries
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt

# Loading Data
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

# Data Cleanup
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

/Users/haticekar/Desktop/anaconda/anaconda3/envs/python_course/lib/python3.11/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

## ðŸŸ© Merge US Jobs and Monthly Postings (2.7.1)

In [2]:
# 1. sadece ABD de olan iÅŸ ilanlarÄ±nÄ± filtrele
df_us_jobs = df[(df["job_country"] == "United States")].copy()

# 2. ilan tarihinden ay ismini Ã§Ä±karma (January, February vs)
df_us_jobs["job_posted_month"] = df_us_jobs["job_posted_date"].dt.strftime("%B")

# 3. her ay iÃ§in ilan sayÄ±sÄ±
df_monthly_postings = df_us_jobs.groupby("job_posted_month").size().reset_index(name="job_count")
df_monthly_postings

merge_df = pd.merge(df_us_jobs, df_monthly_postings, on="job_posted_month", how="right")
merge_df

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills,job_posted_month,job_count
0,Data Scientist,Data Scientist II,Anywhere,via ZipRecruiter,Full-time,True,"New York, United States",2023-04-23 13:02:57,False,False,United States,None,NaN,NaN,"Radwell International, LLC","['sql', 'python', 'r', 'mongodb', 'mongodb', '...","{'analyst_tools': ['excel'], 'cloud': ['azure'...",April,17282
1,Data Scientist,"Data Scientist, Data Strategy and Analytics","Alameda, CA",via Trabajo.org,Full-time,False,"California, United States",2023-04-26 13:05:10,False,False,United States,None,NaN,NaN,Abbott,None,None,April,17282
2,Senior Data Scientist,"Mission Data Scientist, Senior - Security Clea...","Fayetteville, NC",via My Panhandle Jobs,Full-time,False,Georgia,2023-04-09 14:21:49,False,True,United States,None,NaN,NaN,Booz Allen Hamilton,"['python', 'r', 'postgresql', 'pandas', 'table...","{'analyst_tools': ['tableau', 'splunk'], 'data...",April,17282
3,Data Engineer,Data Engineer,"Las Vegas, NV",via Trabajo.org,Full-time,False,"Illinois, United States",2023-04-28 13:09:58,True,False,United States,None,NaN,NaN,Indotronix International Corporation,"['python', 'shell', 'azure', 'databricks', 'ai...","{'cloud': ['azure', 'databricks'], 'libraries'...",April,17282
4,Data Analyst,HR Data Analyst - Remote,Anywhere,via ZipRecruiter,Full-time,True,"California, United States",2023-04-24 13:00:47,False,False,United States,None,NaN,NaN,Workoo Technologies,"['sas', 'sas', 'sql']","{'analyst_tools': ['sas'], 'programming': ['sa...",April,17282
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
206287,Data Scientist,Data Scientist 100% Remote,Anywhere,via LinkedIn,Full-time,True,"Illinois, United States",2023-09-12 06:04:10,False,False,United States,None,NaN,NaN,"HERNANDEZ CALHOUN DESIGN INTERNATIONAL, P.A, Inc","['r', 'python', 'sql', 'power bi', 'tableau']","{'analyst_tools': ['power bi', 'tableau'], 'pr...",September,16313
206288,Business Analyst,Functional Data BA with Law Department and Leg...,"Atlanta, GA",via LinkedIn,Full-time,False,Georgia,2023-09-22 06:47:16,False,False,United States,None,NaN,NaN,Stellent IT,"['excel', 'powerpoint', 'visio', 'outlook']","{'analyst_tools': ['excel', 'powerpoint', 'vis...",September,16313
206289,Senior Data Engineer,Senior Data Engineer,"Washington, DC",via Trabajo.org,Full-time,False,"Illinois, United States",2023-09-04 06:07:24,True,True,United States,None,NaN,NaN,System One,"['sql', 'python', 'java', 'aws', 'spark']","{'cloud': ['aws'], 'libraries': ['spark'], 'pr...",September,16313
206290,Data Analyst,Audit Data Analytics Co-Op,"Covington, GA",via Trabajo.org,Full-time and Internship,False,Georgia,2023-09-10 06:32:47,False,False,United States,None,NaN,NaN,Fifth Third,"['sas', 'sas', 'python', 'sql', 'r', 'visual b...","{'analyst_tools': ['sas', 'tableau', 'excel'],...",September,16313
206291,Data Analyst,Junior Data Analyst,"Santa Monica, CA",via Trabajo.org,Full-time,False,"California, United States",2023-09-12 06:00:50,False,False,United States,None,NaN,NaN,"Ramax Search, Inc.","['sql', 'vba', 'python', 'excel', 'flow']","{'analyst_tools': ['excel'], 'other': ['flow']...",September,16313

In [3]:
import pandas as pd
from datasets import load_dataset

dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

df['job_posted_month'] = df['job_posted_date'].dt.to_period('M')
df_us_jobs = df[df['job_country'] == 'United States']
df_monthly_postings = df_us_jobs.groupby('job_posted_month').size().reset_index(name='postings_count')
merged_df = pd.merge(df_us_jobs, df_monthly_postings, on='job_posted_month', how='right')
merged_df.head()

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills,job_posted_month,postings_count
0,Data Engineer,Data Engineer,"Fort Worth, TX",via LinkedIn,Full-time,False,"Texas, United States",2023-01-25 13:24:01,False,False,United States,None,NaN,NaN,Programmers.io,"['sql', 'python']","{'programming': ['sql', 'python']}",2023-01,22670
1,Data Engineer,Data Engineer,"San Mateo, CA",via LinkedIn,Full-time,False,"California, United States",2023-01-28 13:07:30,False,True,United States,None,NaN,NaN,Verkada,"['sql', 'python', 'aws', 'looker']","{'analyst_tools': ['looker'], 'cloud': ['aws']...",2023-01,22670
2,Business Analyst,Business Intelligence Intern,"Dallas, TX",via LinkedIn,Full-time,False,"Texas, United States",2023-01-04 13:02:07,False,False,United States,None,NaN,NaN,Copart,"['r', 'python', 'sql', 'tableau', 'power bi']","{'analyst_tools': ['tableau', 'power bi'], 'pr...",2023-01,22670
3,Data Engineer,Data Engineer,"Cincinnati, OH",via SimplyHired,Full-time,False,"Texas, United States",2023-01-22 13:08:53,False,False,United States,None,NaN,NaN,Divisions Maintenance Group,"['sql', 'nosql', 'python', 'java', 'c++', 'sca...","{'databases': ['cassandra'], 'libraries': ['ha...",2023-01,22670
4,Data Analyst,Data Analyst,"Tampa, FL",via LinkedIn,Full-time,False,"Florida, United States",2023-01-19 13:19:45,False,False,United States,None,NaN,NaN,Citi,"['sql', 'python', 'unix', 'excel', 'jira']","{'analyst_tools': ['excel'], 'async': ['jira']...",2023-01,22670

---

**Explanation:**
1. Import the necessary libraries and load the dataset.
2. Use the dt accessor to extract the year from the job_posted_date column and create a new column job_posted_month by extracting the month from the job_posted_date column.
3. Create a DataFrame df_us_jobs that filters job postings in the United States.
4. Create a DataFrame df_monthly_postings that counts the number of job postings for each month using the groupby() method.
5. Use the merge() function to combine these two DataFrames on the 'job_posted_month' column using a right join.
6. Display the first 5 rows of the resulting DataFrame using the head() method.

## ðŸŸ¨ Merge Non-Remote Jobs and Salary (2.7.2)

In [4]:
df_not_remote_jobs = df[(df["job_work_from_home"] == False)].copy()
df_not_remote_salary = df_not_remote_jobs.groupby("job_title_short")["salary_year_avg"].mean().reset_index(name = "salary_not_remote_avg")
merge_df = pd.merge(df_not_remote_jobs, df_not_remote_salary, on = "job_title_short", how = "right")
merge_df.head()

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills,job_posted_month,salary_not_remote_avg
0,Business Analyst,Technology & Operations Business Analyst,"Copenhagen, Denmark",via Trabajo.org,Full-time,False,Denmark,2023-06-05 13:44:34,False,False,Denmark,None,NaN,NaN,Hempel,"['excel', 'powerpoint', 'power bi']","{'analyst_tools': ['excel', 'powerpoint', 'pow...",2023-06,90177.41994
1,Business Analyst,Business Intelligence Intern,"Dallas, TX",via LinkedIn,Full-time,False,"Texas, United States",2023-01-04 13:02:07,False,False,United States,None,NaN,NaN,Copart,"['r', 'python', 'sql', 'tableau', 'power bi']","{'analyst_tools': ['tableau', 'power bi'], 'pr...",2023-01,90177.41994
2,Business Analyst,BI Engineer,Namibia,via Intellijobs.ai,Full-time,False,Namibia,2023-03-05 14:10:49,False,False,Namibia,None,NaN,NaN,Innover,"['sql', 'gcp', 'looker', 'tableau']","{'analyst_tools': ['looker', 'tableau'], 'clou...",2023-03,90177.41994
3,Business Analyst,Business Analyst,"Tel Aviv-Yafo, Israel",via Comeet,Full-time,False,Israel,2023-09-05 13:50:12,False,False,Israel,None,NaN,NaN,ironSource,"['sql', 'excel']","{'analyst_tools': ['excel'], 'programming': ['...",2023-09,90177.41994
4,Business Analyst,Commercial Analyst,South Africa,via LinkedIn,Full-time,False,South Africa,2023-02-14 13:36:23,True,False,South Africa,None,NaN,NaN,PEP,"['sql', 'tableau', 'spss', 'sap']","{'analyst_tools': ['tableau', 'spss', 'sap'], ...",2023-02,90177.41994

In [5]:
df_not_remote_jobs = df[df['job_work_from_home'] == False]
df_not_remote_salary = df_not_remote_jobs.groupby('job_title_short')['salary_year_avg'].mean().reset_index()
df_not_remote_salary.rename(columns={'salary_year_avg': 'salary_not_remote_avg'}, inplace=True)
merged_df = pd.merge(df_not_remote_jobs, df_not_remote_salary, on='job_title_short', how='right')

merged_df.head()

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills,job_posted_month,salary_not_remote_avg
0,Business Analyst,Technology & Operations Business Analyst,"Copenhagen, Denmark",via Trabajo.org,Full-time,False,Denmark,2023-06-05 13:44:34,False,False,Denmark,None,NaN,NaN,Hempel,"['excel', 'powerpoint', 'power bi']","{'analyst_tools': ['excel', 'powerpoint', 'pow...",2023-06,90177.41994
1,Business Analyst,Business Intelligence Intern,"Dallas, TX",via LinkedIn,Full-time,False,"Texas, United States",2023-01-04 13:02:07,False,False,United States,None,NaN,NaN,Copart,"['r', 'python', 'sql', 'tableau', 'power bi']","{'analyst_tools': ['tableau', 'power bi'], 'pr...",2023-01,90177.41994
2,Business Analyst,BI Engineer,Namibia,via Intellijobs.ai,Full-time,False,Namibia,2023-03-05 14:10:49,False,False,Namibia,None,NaN,NaN,Innover,"['sql', 'gcp', 'looker', 'tableau']","{'analyst_tools': ['looker', 'tableau'], 'clou...",2023-03,90177.41994
3,Business Analyst,Business Analyst,"Tel Aviv-Yafo, Israel",via Comeet,Full-time,False,Israel,2023-09-05 13:50:12,False,False,Israel,None,NaN,NaN,ironSource,"['sql', 'excel']","{'analyst_tools': ['excel'], 'programming': ['...",2023-09,90177.41994
4,Business Analyst,Commercial Analyst,South Africa,via LinkedIn,Full-time,False,South Africa,2023-02-14 13:36:23,True,False,South Africa,None,NaN,NaN,PEP,"['sql', 'tableau', 'spss', 'sap']","{'analyst_tools': ['tableau', 'spss', 'sap'], ...",2023-02,90177.41994

---

**Explanation:**

1. Create a DataFrame df_not_remote_jobs that filters job postings that do not offer remote work.
2. Create a DataFrame df_not_remote_salary that calculates the average yearly salary for these non-remote jobs using the groupby() method.
3. Use the merge() function to combine these two DataFrames on the job_title_short column using a right join.
4. Display the first 5 rows of the resulting DataFrame using the head() method.

## ðŸŸ¨ Merge Company Salary and Remote Count (2.7.3)

In [6]:
df_company_salary = df.groupby("company_name")["salary_year_avg"].mean()
df_company_remote = df[(df["job_work_from_home"] == True)].copy()
df_company_remote.groupby("company_name").size().reset_index(name = "remote_count")
df_merge = pd.merge(df_company_salary, df_company_remote, on="company_name", how="inner")
df_merge.head()

,company_name,salary_year_avg_x,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg_y,salary_hour_avg,job_skills,job_type_skills,job_posted_month
0,#EqualsTrue,NaN,Senior Data Engineer,"Senior Data Engineer (Database architecture, E...",Anywhere,via LinkedIn,Full-time,True,Dominican Republic,2023-08-25 03:57:09,False,False,Dominican Republic,None,NaN,NaN,"['sql', 'python', 'snowflake', 'kafka', 'git']","{'cloud': ['snowflake'], 'libraries': ['kafka'...",2023-08
1,#EqualsTrue,NaN,Data Analyst,Data Analyst,Anywhere,via LinkedIn PanamÃ¡,Full-time,True,Panama,2023-10-13 03:23:17,False,False,Panama,None,NaN,NaN,"['sql', 'python', 'r', 'tableau', 'power bi']","{'analyst_tools': ['tableau', 'power bi'], 'pr...",2023-10
2,#EqualsTrue,NaN,Data Engineer,"Staff Data Engineer (Data Pipelines, ETL/ELT, ...",Anywhere,via LinkedIn Guatemala,Full-time,True,Guatemala,2023-09-01 03:26:53,False,False,Guatemala,None,NaN,NaN,"['go', 'sql', 'python', 'git']","{'other': ['git'], 'programming': ['go', 'sql'...",2023-09
3,#EqualsTrue,NaN,Senior Data Analyst,Senior Data Analyst,Anywhere,via LinkedIn PanamÃ¡,Full-time,True,Panama,2023-12-12 03:03:33,True,False,Panama,None,NaN,NaN,"['sql', 'python', 'tableau']","{'analyst_tools': ['tableau'], 'programming': ...",2023-12
4,#TeamGoHealth,NaN,Data Analyst,HR Data Analyst,Anywhere,via Indeed,Full-time,True,"Illinois, United States",2023-06-30 17:02:16,False,True,United States,None,NaN,NaN,"['tableau', 'monday.com']","{'analyst_tools': ['tableau'], 'async': ['mond...",2023-06

In [7]:
df_company_salary = df.groupby('company_name')['salary_year_avg'].mean().reset_index()
df_company_remote = df[df['job_work_from_home'] == True].groupby('company_name').size().reset_index(name='remote_count')
merged_df = pd.merge(df_company_salary, df_company_remote, on='company_name', how='inner')
merged_df.head()

                                company_name  salary_year_avg  remote_count
0                                #EqualsTrue              NaN             4
1                              #TeamGoHealth              NaN             1
2                    #twiceasnice Recruiting          77750.0             1
3                                      &Work              NaN             1
4  (AEG) Application Engineering Group, Inc.              NaN             1

# Explanation:

1. Create a DataFrame df_company_salary that calculates the average yearly salary for each company using the groupby() method.
2. Create a DataFrame df_company_remote that counts the number of remote job postings for each company using the groupby() method.
3. Use the merge() function to combine these two DataFrames on the 'company_name' column using an inner join.

---