# Pandas Index Management

In [1]:
# Importing Libraries
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt  

# Loading Data
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

# Data Cleanup
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

/Users/haticekar/Desktop/anaconda/anaconda3/envs/python_course/lib/python3.11/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

## Index Attributes

### Notes

* You can get or set properties of the index, such as its name or data type.  
* It's helpful for maintaining metadata or ensuring index compatibility in operations.
* `(index.name, index.dtype)`
    * `index.name` - name of the index
    * `index.dtype` - data type of the index

## Index Attributes ‚Äì Nedir ve Ne ƒ∞≈üe Yarar?

* Bir DataFrame‚Äôin satƒ±rlarƒ±nƒ± tanƒ±mlayan ‚Äúindex‚Äùin bazƒ± √∂zellikleri vardƒ±r. Bunlara index attributes denir. Bu √∂zellikleri kontrol etmek, analiz s√ºrecinde bazƒ± ≈üeyleri daha doƒüru ve g√ºvenli yapmana yardƒ±mcƒ± olur.

### 1. index.name ‚Äì ƒ∞ndeksin ƒ∞smi
* index.name ifadesi, o indeksin etiketini (ba≈ülƒ±ƒüƒ±nƒ±) verir veya deƒüi≈ütirmene olanak tanƒ±r.
* Eƒüer bir s√ºtunu indeks yaptƒ±ysan, bu s√ºtunun adƒ± index‚Äôin adƒ± olur.

üîß Neden √∂nemli?

* √ñzellikle birden fazla tabloyla √ßalƒ±≈üƒ±rken indeksin neyi temsil ettiƒüini g√∂rmek i√ßin kullanƒ±lƒ±r.
* merge, join, groupby gibi i≈ülemlerde indeksin adƒ±nƒ±n tanƒ±mlƒ± olmasƒ± anlamlƒ± e≈üle≈ümeler saƒülar.

### 2. index.dtype ‚Äì ƒ∞ndeksin Veri Tipi
* index.dtype ifadesi, indeksin hangi veri tipinde olduƒüunu g√∂sterir. (√∂rneƒüin: int64, object, datetime64, vs.)

üîß Neden √∂nemli?

* ƒ∞ki tabloyu birle≈ütirirken indekslerin veri tiplerinin uyu≈ümasƒ± gerekir.
* Zaman serisi analizinde, indeksin tarih olup olmadƒ±ƒüƒ±nƒ± anlamak i√ßin kullanƒ±lƒ±r.
* Filtreleme yaparken beklenmedik hatalardan ka√ßƒ±nmak i√ßin veri tipini bilmek √∂nemlidir.


## üéØ Ne Zaman Kullanƒ±lƒ±r?

1. Veri setlerini birle≈ütireceƒüin zaman indekslerin adƒ± ve veri tipi uyu≈üuyor mu kontrol etmek i√ßin
2. ƒ∞ndeksin neyi temsil ettiƒüini g√∂stermek i√ßin (index.name)
3. Tarih bazlƒ± analizlerde (index.dtype kullanarak tarih olup olmadƒ±ƒüƒ±nƒ± anla)
4. Otomatik raporlarda indeks adƒ±nƒ± ba≈ülƒ±k olarak g√∂stermek i√ßin

In [3]:
df.sample(5)

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
397699,Data Engineer,Data Engineer Confirm√© Bi - Big Data H/F,Anywhere,via HelloWork,Full-time,True,France,2023-01-26 18:16:45,False,False,France,None,NaN,NaN,Activus Group,"['sql', 'shell', 'java', 'spark', 'hadoop', 'l...","{'libraries': ['spark', 'hadoop'], 'os': ['lin..."
289142,Data Engineer,Data Engineer,"Austin, TX",via SmartRecruiters Job Search,Full-time,False,"Texas, United States",2023-07-05 17:01:45,True,False,United States,None,NaN,NaN,Informa Group Plc.,"['sql', 'python', 'r', 'vba', 'vb.net', 'c#', ...","{'analyst_tools': ['power bi', 'alteryx', 'tab..."
337663,Data Scientist,Data Scientist / Riesgo Operacional | KYG-889,Chile,via Sercanto,Full-time,False,Chile,2023-04-13 23:33:08,False,False,Chile,None,NaN,NaN,Iplacex,"['sql', 'python', 'spark', 'pandas', 'matplotl...","{'libraries': ['spark', 'pandas', 'matplotlib'..."
13828,Data Engineer,Data Engineer,United Kingdom,via Jobs Trabajo.org,Full-time,False,United Kingdom,2023-01-19 13:59:15,True,False,United Kingdom,None,NaN,NaN,Bright Purple Resourcing Ltd,"['sql', 'python', 'azure']","{'cloud': ['azure'], 'programming': ['sql', 'p..."
373073,Data Analyst,Business Data Analyst,"New York, NY",via Jobs Trabajo.org,Full-time,False,"New York, United States",2023-08-26 18:00:05,False,False,United States,None,NaN,NaN,Pierce Technology Corporation,['sql'],{'programming': ['sql']}

### üéØ √ñzetle

| Ne yaparsƒ±n?        | Ne i≈üe yarar?                                                  |
|---------------------|----------------------------------------------------------------|
| `df.index`          | Satƒ±r indekslerini g√∂r√ºrs√ºn (list deƒüil, √∂zel bir Index objesi)|
| `df.index.name`     | ƒ∞ndeksin ba≈ülƒ±ƒüƒ±na eri≈üirsin veya ba≈ülƒ±k atarsƒ±n               |
| `df.index.dtype`    | ƒ∞ndeksin veri tipini √∂ƒürenirsin (√∂rneƒüin `int64`, `object`)    |

In [ ]:
#lets inspect our index
df.index # üìå Veri √ßer√ßevesinin (DataFrame‚Äôin) satƒ±r etiketlerini (indexlerini) √∂ƒürenmeye veya kontrol etmeye √ßalƒ±≈üƒ±yorsun.

RangeIndex(start=0, stop=785741, step=1)

In [5]:
df.index.dtype

dtype('int64')

In [ ]:
df.index.name # it has no name

In [7]:
df.index.name = "job_index"
df.index.name

'job_index'

In [8]:
df.sample(3)

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
job_index,,,,,,,,,,,,,,,,,
727739,Data Scientist,"Data Scientist (Pittsburgh, PA)","Pittsburgh, PA",via LinkedIn,Full-time,False,Georgia,2023-12-14 21:34:28,False,True,United States,None,NaN,NaN,Smith+Nephew,"['python', 'r', 'matlab', 'scikit-learn', 'ten...","{'libraries': ['scikit-learn', 'tensorflow', '..."
57327,Data Analyst,Data Analyst || WHO ‚Äì World Health Organization,"Harare, Zimbabwe",via VacancyBox,None,False,Zimbabwe,2023-09-03 06:44:10,False,False,Zimbabwe,None,NaN,NaN,WHO - World Health Organization,['c'],{'programming': ['c']}
684277,Data Engineer,Jr. Data Engineer - For Fresh Grads,"Muntinlupa, Metro Manila, Philippines",via LinkedIn,None,False,Philippines,2023-06-27 10:42:15,True,False,Philippines,None,NaN,NaN,Collabera Digital,"['sql', 'python']","{'programming': ['sql', 'python']}"

### Example 2

 Remember the pivot table we made in the last example? Where we got median yearly salaries for the different job titles. Let's run that code. Then we'll get the index name and the data type of the index using `df.index.name` and `df.index.dtype`.

In [9]:
median_pivot = df.pivot_table(values="salary_year_avg", index="job_title_short", aggfunc="mean")
median_pivot

                           salary_year_avg
job_title_short
Business Analyst              91082.612833
Cloud Engineer               111268.453846
Data Analyst                  93841.907854
Data Engineer                130125.604250
Data Scientist               135988.837171
Machine Learning Engineer    126774.315972
Senior Data Analyst          113911.363665
Senior Data Engineer         145840.611624
Senior Data Scientist        154206.292996
Software Engineer            113393.760054

In [10]:
index_name = median_pivot.index.name
index_name

'job_title_short'

In [11]:
index_dtype= median_pivot.index.dtype
index_dtype

dtype('O')

## reset_index()

### Notes 

* `reset_index()`: Resets the DataFrame‚Äôs index to the default integer index. This is particularly useful after operations that alter the index, like sorting or filtering, to simplify further data manipulation.

* Pandas'ta reset_index() fonksiyonu, bir DataFrame'in mevcut indeksini sƒ±fƒ±rlar ve yerine varsayƒ±lan sayƒ±sal indeks (0, 1, 2, ...) koyar.

###  Neden Kullanƒ±lƒ±r?

Bazen bir i≈ülem yaptƒ±ktan sonra (√∂rneƒüin groupby(), set_index(), sort_values()), DataFrame‚Äôin indeksi √∂zel bir hale gelir veya √ßok karma≈üƒ±k olur.

üìå ƒ∞≈üte bu durumda, analiz kolaylƒ±ƒüƒ± ve temiz g√∂r√ºn√ºm i√ßin reset_index() kullanƒ±lƒ±r.

### üß© Ekstra Bilgi:

Eƒüer eski indexi tamamen kaldƒ±rmak istiyorsan:
* df.reset_index(drop=True, inplace=True)
1. drop=True ‚Üí eski indexi tamamen sil
2. inplace=True ‚Üí sonucu yeni deƒüi≈ükene atamadan doƒürudan df'ye uygula

### üéØ Ne Zaman Kullanƒ±lƒ±r?

| Durum        | reset_index() kullanƒ±lƒ±r mƒ±?                                                |
|---------------------|----------------------------------------------------------------|
| groupby, pivot_table sonrasƒ±        | ‚úÖ Evet|
| ƒ∞ndeks karma≈üƒ±k hale geldiyse    | ‚úÖ Evet |
| Sƒ±ralama sonrasƒ± sƒ±ra numarasƒ±nƒ± d√ºzeltmek istiyorsan    | ‚úÖ Evet |

### Example 1

When we create new DataFrames by filtering this jacks up our index!

In [15]:
df_usa = df[df["job_country"] == "United States"]
df_usa.head(5)

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
job_index,,,,,,,,,,,,,,,,,
0,Senior Data Engineer,Senior Clinical Data Engineer / Principal Clin...,"Watertown, CT",via Work Nearby,Full-time,False,"Texas, United States",2023-06-16 13:44:15,False,False,United States,None,NaN,NaN,Boehringer Ingelheim,None,None
3,Data Engineer,LEAD ENGINEER - PRINCIPAL ANALYST - PRINCIPAL ...,"San Antonio, TX",via Diversity.com,Full-time,False,"Texas, United States",2023-07-04 13:01:41,True,False,United States,None,NaN,NaN,Southwest Research Institute,"['python', 'c++', 'java', 'matlab', 'aws', 'te...","{'cloud': ['aws'], 'libraries': ['tensorflow',..."
5,Data Engineer,GCP Data Engineer,Anywhere,via ZipRecruiter,Contractor and Temp work,True,Georgia,2023-11-07 14:01:59,False,False,United States,None,NaN,NaN,smart folks inc,"['python', 'sql', 'gcp']","{'cloud': ['gcp'], 'programming': ['python', '..."
6,Senior Data Engineer,Senior Data Engineer - GCP Cloud,"Dearborn, MI",via LinkedIn,Full-time,False,"Florida, United States",2023-03-27 13:18:18,False,False,United States,None,NaN,NaN,"Miracle Software Systems, Inc","['sql', 'python', 'java', 'sql server', 'gcp',...","{'cloud': ['gcp', 'bigquery'], 'databases': ['..."
9,Data Scientist,Data Scientist II,Anywhere,via ZipRecruiter,Full-time,True,"New York, United States",2023-04-23 13:02:57,False,False,United States,None,NaN,NaN,"Radwell International, LLC","['sql', 'python', 'r', 'mongodb', 'mongodb', '...","{'analyst_tools': ['excel'], 'cloud': ['azure'..."

In [13]:
df_usa.index

Index([     0,      3,      5,      6,      9,     11,     13,     17,     26,
           27,
       ...
       785625, 785626, 785641, 785648, 785651, 785673, 785685, 785692, 785703,
       785705],
      dtype='int64', name='job_index', length=206292)

In [16]:
# index is no longer correctly spaced by 1 increment
df_usa.reset_index(inplace=True)
df_usa

,job_index,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
0,0,Senior Data Engineer,Senior Clinical Data Engineer / Principal Clin...,"Watertown, CT",via Work Nearby,Full-time,False,"Texas, United States",2023-06-16 13:44:15,False,False,United States,None,NaN,NaN,Boehringer Ingelheim,None,None
1,3,Data Engineer,LEAD ENGINEER - PRINCIPAL ANALYST - PRINCIPAL ...,"San Antonio, TX",via Diversity.com,Full-time,False,"Texas, United States",2023-07-04 13:01:41,True,False,United States,None,NaN,NaN,Southwest Research Institute,"['python', 'c++', 'java', 'matlab', 'aws', 'te...","{'cloud': ['aws'], 'libraries': ['tensorflow',..."
2,5,Data Engineer,GCP Data Engineer,Anywhere,via ZipRecruiter,Contractor and Temp work,True,Georgia,2023-11-07 14:01:59,False,False,United States,None,NaN,NaN,smart folks inc,"['python', 'sql', 'gcp']","{'cloud': ['gcp'], 'programming': ['python', '..."
3,6,Senior Data Engineer,Senior Data Engineer - GCP Cloud,"Dearborn, MI",via LinkedIn,Full-time,False,"Florida, United States",2023-03-27 13:18:18,False,False,United States,None,NaN,NaN,"Miracle Software Systems, Inc","['sql', 'python', 'java', 'sql server', 'gcp',...","{'cloud': ['gcp', 'bigquery'], 'databases': ['..."
4,9,Data Scientist,Data Scientist II,Anywhere,via ZipRecruiter,Full-time,True,"New York, United States",2023-04-23 13:02:57,False,False,United States,None,NaN,NaN,"Radwell International, LLC","['sql', 'python', 'r', 'mongodb', 'mongodb', '...","{'analyst_tools': ['excel'], 'cloud': ['azure'..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
206287,785673,Data Scientist,Asset Management Data Scientist,"New York, NY",via Trabajo.org,Full-time,False,"New York, United States",2023-10-16 06:01:53,True,False,United States,None,NaN,NaN,JPMorgan Chase & Co.,None,None
206288,785685,Data Analyst,Data Analyst,"Indianapolis, IN",via Trabajo.org,Full-time,False,"Illinois, United States",2023-07-16 06:01:27,True,False,United States,None,NaN,NaN,"Aara Technologies, Inc","['sql', 'excel']","{'analyst_tools': ['excel'], 'programming': ['..."
206289,785692,Data Scientist,Data Scientist- Hybrid Work Location,"Dayton, OH",via Ai-Jobs.net,Full-time,False,"Illinois, United States",2023-04-21 06:02:31,False,True,United States,year,157500.0,NaN,Tenet3,"['python', 'matlab', 'r']","{'programming': ['python', 'matlab', 'r']}"
206290,785703,Data Analyst,Data Analyst - CRYPTOGRAPHY - Full-time,Anywhere,via Snagajob,Full-time,True,"Texas, United States",2023-01-28 06:02:55,True,False,United States,None,NaN,NaN,Axelon Services Corporation,None,None
206291,785705,Data Analyst,Expert Business Data Analyst - Now Hiring,"Oakland, CA",via Snagajob,Full-time,False,"California, United States",2023-01-09 06:00:25,False,False,United States,None,NaN,NaN,PG&E Corporation,"['sql', 'python', 'tableau']","{'analyst_tools': ['tableau'], 'programming': ..."

1. Technically we could .drop() the job_index.

* BUT, if we wanted to do some sort of merge operations in the future with our original DataFrame, this provides the unique id to do that.

2. Teknik olarak job_index'i .drop() edebiliriz.

* AMA, gelecekte orijinal DataFrame'imizle bir t√ºr birle≈ütirme i≈ülemi yapmak istersek, bunu yapmak i√ßin benzersiz bir kimlik saƒülar.

### Example 2

Back to our main DataFrame with our job postings in it. We're going to actually reset the indexes in the pivot table so `job_title_short` isn't the index anymore.

In [17]:
median_pivot.reset_index(inplace=True)
median_pivot

             job_title_short  salary_year_avg
0           Business Analyst     91082.612833
1             Cloud Engineer    111268.453846
2               Data Analyst     93841.907854
3              Data Engineer    130125.604250
4             Data Scientist    135988.837171
5  Machine Learning Engineer    126774.315972
6        Senior Data Analyst    113911.363665
7       Senior Data Engineer    145840.611624
8      Senior Data Scientist    154206.292996
9          Software Engineer    113393.760054

## set_index()

### Notes

* `set_index()`: Sets one or more existing columns as the index of the DataFrame. This is useful for timeseries data or when you want to index by specific attributes.

*  Bu fonksiyon, bir DataFrame‚Äôdeki bir veya birden fazla s√ºtunu indeks (satƒ±r etiketi) olarak ayarlamak i√ßin kullanƒ±lƒ±r.

### Ne i≈üe yarar?

1. Veri √ºzerinde daha etkili gruplama, filtreleme ve eri≈üim saƒülar.
2. √ñzellikle zaman serisi (timeseries) analizlerinde ve kategori bazlƒ± i≈ülemlerde olduk√ßa kullanƒ±≈ülƒ±dƒ±r.
3. groupby, pivot_table, loc[] gibi fonksiyonlarla birlikte sƒ±k√ßa kullanƒ±lƒ±r.


df = pd.DataFrame({
    "Company": ["A", "A", "B", "B"],
    "Department": ["HR", "IT", "HR", "IT"],
    "Salary": [4000, 5000, 4200, 5300]
})

df_multi = df.set_index(["Company", "Department"])
print(df_multi)


##### √áIKTI: 
df = pd.DataFrame({
    "Company": ["A", "A", "B", "B"],
    "Department": ["HR", "IT", "HR", "IT"],
    "Salary": [4000, 5000, 4200, 5300]
})

df_multi = df.set_index(["Company", "Department"])
print(df_multi)


### üéØ Ne Zaman Kullanƒ±lƒ±r?

| Durum        | reset_index() kullanƒ±lƒ±r mƒ±?                                                |
|---------------------|----------------------------------------------------------------|
| Zaman serisi verisi ile √ßalƒ±≈üƒ±yorsan       | ‚úÖ Evet|
| S√ºtunu anahtar olarak kullanmak istiyorsan| ‚úÖ Evet |
| Gruplama veya eri≈üimi kolayla≈ütƒ±rmak istiyorsan istiyorsan    | ‚úÖ Evet |

### Example 1

What if we wanted to go back to job_index as our main index?

In [ ]:
df_usa.set_index("job_index", inplace=True) #"job_index" s√ºtunu, artƒ±k DataFrame'in yeni satƒ±r index‚Äôi oldu.
df_usa

#Neden yapƒ±lƒ±r?

#1. Veriyi satƒ±r bazƒ±nda daha anlamlƒ± bir ≈üekilde temsil etmek i√ßin
#Eskiden satƒ±rlar 0, 1, 2, 3, ... gibi sayƒ±larla etiketleniyordu. Ama ≈üimdi her satƒ±r "job_index" deƒüeri ile tanƒ±mlanƒ±yor.
#Bu daha anlamlƒ±, takip edilebilir ve g√º√ßl√º bir yapƒ± saƒülar.

#inplace=True Bu parametre, deƒüi≈üikliƒüin doƒürudan df_usa i√ßinde yapƒ±lmasƒ±nƒ± saƒülar.

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
job_index,,,,,,,,,,,,,,,,,
0,Senior Data Engineer,Senior Clinical Data Engineer / Principal Clin...,"Watertown, CT",via Work Nearby,Full-time,False,"Texas, United States",2023-06-16 13:44:15,False,False,United States,None,NaN,NaN,Boehringer Ingelheim,None,None
3,Data Engineer,LEAD ENGINEER - PRINCIPAL ANALYST - PRINCIPAL ...,"San Antonio, TX",via Diversity.com,Full-time,False,"Texas, United States",2023-07-04 13:01:41,True,False,United States,None,NaN,NaN,Southwest Research Institute,"['python', 'c++', 'java', 'matlab', 'aws', 'te...","{'cloud': ['aws'], 'libraries': ['tensorflow',..."
5,Data Engineer,GCP Data Engineer,Anywhere,via ZipRecruiter,Contractor and Temp work,True,Georgia,2023-11-07 14:01:59,False,False,United States,None,NaN,NaN,smart folks inc,"['python', 'sql', 'gcp']","{'cloud': ['gcp'], 'programming': ['python', '..."
6,Senior Data Engineer,Senior Data Engineer - GCP Cloud,"Dearborn, MI",via LinkedIn,Full-time,False,"Florida, United States",2023-03-27 13:18:18,False,False,United States,None,NaN,NaN,"Miracle Software Systems, Inc","['sql', 'python', 'java', 'sql server', 'gcp',...","{'cloud': ['gcp', 'bigquery'], 'databases': ['..."
9,Data Scientist,Data Scientist II,Anywhere,via ZipRecruiter,Full-time,True,"New York, United States",2023-04-23 13:02:57,False,False,United States,None,NaN,NaN,"Radwell International, LLC","['sql', 'python', 'r', 'mongodb', 'mongodb', '...","{'analyst_tools': ['excel'], 'cloud': ['azure'..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
785673,Data Scientist,Asset Management Data Scientist,"New York, NY",via Trabajo.org,Full-time,False,"New York, United States",2023-10-16 06:01:53,True,False,United States,None,NaN,NaN,JPMorgan Chase & Co.,None,None
785685,Data Analyst,Data Analyst,"Indianapolis, IN",via Trabajo.org,Full-time,False,"Illinois, United States",2023-07-16 06:01:27,True,False,United States,None,NaN,NaN,"Aara Technologies, Inc","['sql', 'excel']","{'analyst_tools': ['excel'], 'programming': ['..."
785692,Data Scientist,Data Scientist- Hybrid Work Location,"Dayton, OH",via Ai-Jobs.net,Full-time,False,"Illinois, United States",2023-04-21 06:02:31,False,True,United States,year,157500.0,NaN,Tenet3,"['python', 'matlab', 'r']","{'programming': ['python', 'matlab', 'r']}"
785703,Data Analyst,Data Analyst - CRYPTOGRAPHY - Full-time,Anywhere,via Snagajob,Full-time,True,"Texas, United States",2023-01-28 06:02:55,True,False,United States,None,NaN,NaN,Axelon Services Corporation,None,None
785705,Data Analyst,Expert Business Data Analyst - Now Hiring,"Oakland, CA",via Snagajob,Full-time,False,"California, United States",2023-01-09 06:00:25,False,False,United States,None,NaN,NaN,PG&E Corporation,"['sql', 'python', 'tableau']","{'analyst_tools': ['tableau'], 'programming': ..."

### Example 2

Now that we've reset our index we can set the new index on another column like `salary_year_avg`.

In [ ]:
median_pivot.set_index("job_title_short", inplace=True)
median_pivot

                           salary_year_avg
job_title_short
Business Analyst              91082.612833
Cloud Engineer               111268.453846
Data Analyst                  93841.907854
Data Engineer                130125.604250
Data Scientist               135988.837171
Machine Learning Engineer    126774.315972
Senior Data Analyst          113911.363665
Senior Data Engineer         145840.611624
Senior Data Scientist        154206.292996
Software Engineer            113393.760054

## sort_index()

### Notes 

* `sort_index()`: Sorts the DataFrame by the index (row labels), either ascending or descending. This helps in quickly organizing data by the index and is often used after `set_index()`.

* Bu fonksiyon, bir DataFrame'i ya da Series'i index‚Äôe (satƒ±r etiketlerine) g√∂re sƒ±ralar.

### Ne i≈üe yarar?

1. Veri setini d√ºzenli ve okunabilir hale getirir.
2. √ñzellikle set_index() sonrasƒ± verinin karƒ±≈üƒ±k bir index yapƒ±sƒ±na sahip olmasƒ±nƒ± toparlamak i√ßin kullanƒ±lƒ±r.
3. Daha kolay arama, filtreleme ve zaman serisi analizleri yapƒ±labilir.
4. loc[] ile eri≈üim yaptƒ±ƒüƒ±nda verinin sƒ±ralƒ± olmasƒ± performans ve anla≈üƒ±labilirlik a√ßƒ±sƒ±ndan avantaj saƒülar.

### üìå `sort_index()` Ne Zaman Kullanƒ±lƒ±r?

| Durum                                      | `sort_index()` Kullanƒ±lƒ±r mƒ±? |
|-------------------------------------------|-------------------------------|
| `set_index()` sonrasƒ± index karƒ±≈ütƒ±ysa    | ‚úÖ Evet                       |
| Zaman serisi analizinde tarih sƒ±ralamasƒ±  | ‚úÖ Evet                       |
| Index‚Äôe g√∂re eri≈üimi kolayla≈ütƒ±rmak i√ßin  | ‚úÖ Evet                       |
| Gruplama veya kar≈üƒ±la≈ütƒ±rma √∂ncesinde     | ‚úÖ Evet                       |

### Example

Back to our pivoted DataFrame let's sort this new index alphabetically.

In [21]:
median_pivot.sort_index(inplace=True, ascending=True)
median_pivot

                           salary_year_avg
job_title_short
Business Analyst              91082.612833
Cloud Engineer               111268.453846
Data Analyst                  93841.907854
Data Engineer                130125.604250
Data Scientist               135988.837171
Machine Learning Engineer    126774.315972
Senior Data Analyst          113911.363665
Senior Data Engineer         145840.611624
Senior Data Scientist        154206.292996
Software Engineer            113393.760054

DataFrame.reset_index(level=None, *, drop=False, inplace=False, col_level=0, col_fill='', allow_duplicates=<no_default>, names=None)    --> Reset the index, or a level of it.

DataFrame.set_index(keys, *, drop=True, append=False, inplace=False, verify_integrity=False)  -> Set the DataFrame index using existing columns.

ataFrame.sort_index(*, axis=0, level=None, ascending=True, inplace=False, kind='quicksort', na_position='last', sort_remaining=True, ignore_index=False, key=None) ->
Sort object by labels (along an axis).

| Fonksiyon       | G√∂revi                                            | Kullanƒ±m Zamanƒ±                               | √ñrnek Kod                                       |
|:----------------|:--------------------------------------------------|:-----------------------------------------------|:------------------------------------------------|
| sort_index()    | Index‚Äôe g√∂re sƒ±ralama yapar                       | Karƒ±≈üƒ±k index‚Äôleri d√ºzeltmek i√ßin              | df.sort_index(ascending=True)                   |
| reset_index()   | Index‚Äôi sƒ±fƒ±rlar, eski index‚Äôi kolona √ßevirir    | Filtre veya gruplama sonrasƒ± index d√ºzeltme    | df.reset_index(drop=True)                       |
| set_index()     | Belirli bir kolonu index yapar                    | Kolona g√∂re veri d√ºzenleyip analiz yapmak i√ßin | df.set_index('M√º≈üteriAdƒ±')                      |