# Pandas Exporting Data

In [1]:
# Importing Libraries
import pandas as pd 
from datasets import load_dataset
import matplotlib.pyplot as plt 

# Loading Data
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset["train"].to_pandas()

# Data Cleanup
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

/Users/haticekar/Desktop/anaconda/anaconda3/envs/python_course/lib/python3.11/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

## Notes

* `to_csv()`: Export DataFrame to CSV file. 
* `to_excel()`: Export DataFrame to Excel file.
* `to_sql()`: Export DataFrame to SQL database.
* `to_parquet()`: Export DataFrame to a parquet file. 
    * Parquet is a columnar storage file format that is designed for efficient data storage and retrieval.


## General
First, let's export our file to a **CSV file**. Often you may have to export files back and forth from dataframes to CSV files. Especially if you're trying to clean the data before using it in another data visualization tool like Tableau or PowerBI.

In [2]:
# Saving the DataFrame to a CSV file
df.to_csv("job_data.csv", index=False)

In [3]:
help(df.to_csv)

Help on method to_csv in module pandas.core.generic:

to_csv(path_or_buf: 'FilePath | WriteBuffer[bytes] | WriteBuffer[str] | None' = None, *, sep: 'str' = ',', na_rep: 'str' = '', float_format: 'str | Callable | None' = None, columns: 'Sequence[Hashable] | None' = None, header: 'bool_t | list[str]' = True, index: 'bool_t' = True, index_label: 'IndexLabel | None' = None, mode: 'str' = 'w', encoding: 'str | None' = None, compression: 'CompressionOptions' = 'infer', quoting: 'int | None' = None, quotechar: 'str' = '"', lineterminator: 'str | None' = None, chunksize: 'int | None' = None, date_format: 'str | None' = None, doublequote: 'bool_t' = True, escapechar: 'str | None' = None, decimal: 'str' = '.', errors: 'OpenFileErrors' = 'strict', storage_options: 'StorageOptions | None' = None) -> 'str | None' method of pandas.core.frame.DataFrame instance
    Write object to a comma-separated values (csv) file.

    Parameters
    ----------
    path_or_buf : str, path object, file-like object, or None, default None
        String, path object (implementing os.PathLike[str]), or file-like
        object implementing a write() function. If None, the result is
        returned as a string. If a non-binary file object is passed, it should
        be opened with `newline=''`, disabling universal newlines. If a binary
        file object is passed, `mode` might need to contain a `'b'`.
    sep : str, default ','
        String of length 1. Field delimiter for the output file.
    na_rep : str, default ''
        Missing data representation.
    float_format : str, Callable, default None
        Format string for floating point numbers. If a Callable is given, it takes
        precedence over other numeric formatting parameters, like decimal.
    columns : sequence, optional
        Columns to write.
    header : bool or list of str, default True
        Write out the column names. If a list of strings is given it is
        assumed to be aliases for the column names.
    index : bool, default True
        Write row names (index).
    index_label : str or sequence, or False, default None
        Column label for index column(s) if desired. If None is given, and
        `header` and `index` are True, then the index names are used. A
        sequence should be given if the object uses MultiIndex. If
        False do not print fields for index names. Use index_label=False
        for easier importing in R.
    mode : {'w', 'x', 'a'}, default 'w'
        Forwarded to either `open(mode=)` or `fsspec.open(mode=)` to control
        the file opening. Typical values include:

        - 'w', truncate the file first.
        - 'x', exclusive creation, failing if the file already exists.
        - 'a', append to the end of file if it exists.

    encoding : str, optional
        A string representing the encoding to use in the output file,
        defaults to 'utf-8'. `encoding` is not supported if `path_or_buf`
        is a non-binary file object.
    compression : str or dict, default 'infer'
        For on-the-fly compression of the output data. If 'infer' and 'path_or_buf' is
        path-like, then detect compression from the following extensions: '.gz',
        '.bz2', '.zip', '.xz', '.zst', '.tar', '.tar.gz', '.tar.xz' or '.tar.bz2'
        (otherwise no compression).
        Set to ``None`` for no compression.
        Can also be a dict with key ``'method'`` set
        to one of {``'zip'``, ``'gzip'``, ``'bz2'``, ``'zstd'``, ``'xz'``, ``'tar'``} and
        other key-value pairs are forwarded to
        ``zipfile.ZipFile``, ``gzip.GzipFile``,
        ``bz2.BZ2File``, ``zstandard.ZstdCompressor``, ``lzma.LZMAFile`` or
        ``tarfile.TarFile``, respectively.
        As an example, the following could be passed for faster compression and to create
        a reproducible gzip archive:
        ``compression={'method': 'gzip', 'compresslevel': 1, 'mtime': 1}``.

        .. versionadded:: 1.5.0
            Added support for `.tar` files.

           May be a dict with key 'method' as compression mode
           and other entries as additional compression options if
           compression mode is 'zip'.

           Passing compression options as keys in dict is
           supported for compression modes 'gzip', 'bz2', 'zstd', and 'zip'.
    quoting : optional constant from csv module
        Defaults to csv.QUOTE_MINIMAL. If you have set a `float_format`
        then floats are converted to strings and thus csv.QUOTE_NONNUMERIC
        will treat them as non-numeric.
    quotechar : str, default '\"'
        String of length 1. Character used to quote fields.
    lineterminator : str, optional
        The newline character or character sequence to use in the output
        file. Defaults to `os.linesep`, which depends on the OS in which
        this method is called ('\\n' for linux, '\\r\\n' for Windows, i.e.).

        .. versionchanged:: 1.5.0

            Previously was line_terminator, changed for consistency with
            read_csv and the standard library 'csv' module.

    chunksize : int or None
        Rows to write at a time.
    date_format : str, default None
        Format string for datetime objects.
    doublequote : bool, default True
        Control quoting of `quotechar` inside a field.
    escapechar : str, default None
        String of length 1. Character used to escape `sep` and `quotechar`
        when appropriate.
    decimal : str, default '.'
        Character recognized as decimal separator. E.g. use ',' for
        European data.
    errors : str, default 'strict'
        Specifies how encoding and decoding errors are to be handled.
        See the errors argument for :func:`open` for a full list
        of options.

    storage_options : dict, optional
        Extra options that make sense for a particular storage connection, e.g.
        host, port, username, password, etc. For HTTP(S) URLs the key-value pairs
        are forwarded to ``urllib.request.Request`` as header options. For other
        URLs (e.g. starting with "s3://", and "gcs://") the key-value pairs are
        forwarded to ``fsspec.open``. Please see ``fsspec`` and ``urllib`` for more
        details, and for more examples on storage options refer `here
        <https://pandas.pydata.org/docs/user_guide/io.html?
        highlight=storage_options#reading-writing-remote-files>`_.

    Returns
    -------
    None or str
        If path_or_buf is None, returns the resulting csv format as a
        string. Otherwise returns None.

    See Also
    --------
    read_csv : Load a CSV file into a DataFrame.
    to_excel : Write DataFrame to an Excel file.

    Examples
    --------
    Create 'out.csv' containing 'df' without indices

    >>> df = pd.DataFrame({'name': ['Raphael', 'Donatello'],
    ...                    'mask': ['red', 'purple'],
    ...                    'weapon': ['sai', 'bo staff']})
    >>> df.to_csv('out.csv', index=False)  # doctest: +SKIP

    Create 'out.zip' containing 'out.csv'

    >>> df.to_csv(index=False)
    'name,mask,weapon\nRaphael,red,sai\nDonatello,purple,bo staff\n'
    >>> compression_opts = dict(method='zip',
    ...                         archive_name='out.csv')  # doctest: +SKIP
    >>> df.to_csv('out.zip', index=False,
    ...           compression=compression_opts)  # doctest: +SKIP

    To write a csv file to a new folder or nested folder you will first
    need to create it using either Pathlib or os:

    >>> from pathlib import Path  # doctest: +SKIP
    >>> filepath = Path('folder/subfolder/out.csv')  # doctest: +SKIP
    >>> filepath.parent.mkdir(parents=True, exist_ok=True)  # doctest: +SKIP
    >>> df.to_csv(filepath)  # doctest: +SKIP

    >>> import os  # doctest: +SKIP
    >>> os.makedirs('folder/subfolder', exist_ok=True)  # doctest: +SKIP
    >>> df.to_csv('folder/subfolder/out.csv')  # doctest: +SKIP

Another popular form to export to for your non code savy friends is to Excel:

In [4]:
# Saving the DataFrame to an Excel file
import openpyxl
df.to_excel("jobs_data.xlsx", index=False)
#conda install openpyxl indirilmesi lazƒ±m python environment ƒ±nda

Then, is writing to a **SQL database**. This will only work if you actually have a database to write to. In our case we don't, so this is just an example.

In [6]:
# saving the DataFrame to a SQL database

# this requires a connection to a SQL database, we'll use sqlalchemy for this
# !conda install -c anaconda sqlalchemy -y
from sqlalchemy import create_engine
engine = create_engine('sqlite:///jobs.db')

df.to_sql('job_table', con=engine, if_exists='append', index=False)

785741

You are also able to export a Dataframe to a **parquet file** or **pickle file**. We won't be going into that during the video, but it's good to be aware of it.

In [ ]:
# Saving the DataFrame to a Parquet file
df.to_parquet('jobs_data.parquet')

In [ ]:
# Saving the DataFrame to a Pickle file
df.to_pickle('job_data.pkl')

## Export our DataFrame 
Let's go back to the DataFrame we created in the last section from our actual job postings DataFrame and export it as a CSV file.

In [ ]:
df_DA = df[(df['job_title_short'] == 'Data Analyst')].copy()
df_DA['job_posted_month'] = df_DA['job_posted_date'].dt.strftime('%b')

months = df_DA['job_posted_month'].unique()
df_DA_month = {}
for month in months:
    df_DA_month[month] = df_DA[df_DA['job_posted_month'] == month].copy()

quarter_1 = [df_DA_month['Jan'], df_DA_month['Feb'], df_DA_month['Mar']]
df_concat = pd.concat(quarter_1, ignore_index=True)

df_concat

      job_title_short  ... job_posted_month
0        Data Analyst  ...              Jan
1        Data Analyst  ...              Jan
2        Data Analyst  ...              Jan
3        Data Analyst  ...              Jan
4        Data Analyst  ...              Jan
...               ...  ...              ...
56381    Data Analyst  ...              Mar
56382    Data Analyst  ...              Mar
56383    Data Analyst  ...              Mar
56384    Data Analyst  ...              Mar
56385    Data Analyst  ...              Mar

[56386 rows x 18 columns]

Now we can save our jobs to a csv.

In [ ]:
# Saving the DataFrame to a CSV file
df_concat.to_csv('jobs_1st_quarter.csv', index=False)

DataFrame.to_csv(path_or_buf=None, *, sep=',', na_rep='', float_format=None, columns=None, header=True, index=True, index_label=None, mode='w', encoding=None, compression='infer', quoting=None, quotechar='"', lineterminator=None, chunksize=None, date_format=None, doublequote=True, escapechar=None, decimal='.', errors='strict', storage_options=None)
* Write object to a comma-separated values (csv) file.

### üì¶ Exporting Data Nedir?

* Exporting data (veri dƒ±≈üa aktarma), bir program ya da analiz ortamƒ± i√ßinde olu≈üturulan veya i≈ülenen verinin harici bir dosyaya kaydedilmesi i≈ülemidir.

* Pandas kullanƒ±yorsan, bu genelde ≈üu anlama gelir:
‚úÖ DataFrame'ini bir dosya olarak dƒ±≈üa aktarmak
(√∂rneƒüin: .csv, .xlsx, .json, .sql, .parquet, .pkl gibi)

### üîç Neden Exporting (Dƒ±≈üa Aktarma) Yapƒ±lƒ±r?
1. üîÑ Veriyi ba≈üka bir sistemde kullanmak i√ßin
(√∂rneƒüin: veri tabanƒ±na y√ºklemek, ba≈üka bir programda a√ßmak)
2. üßë‚Äçüíª ƒ∞≈ü arkada≈ülarƒ±yla payla≈ümak i√ßin
(√∂rneƒüin: Excel dosyasƒ± payla≈ümak)
3. üß† Analiz sonu√ßlarƒ±nƒ± saklamak i√ßin
(√∂rneƒüin: model √ßƒ±ktƒ±larƒ±nƒ± .csv olarak kaydetmek)
4. üóÉ Veri yedekleme ve ar≈üivleme i√ßin
(√∂rneƒüin: .pkl veya .parquet gibi formatlarda)

### üõ† Pandas ile Yaygƒ±n Export Formatlarƒ±:

| Format      | Fonksiyon           | A√ßƒ±klama|
|-------------|---------------------|---------------------------------------|
|.csv        | df.to_csv()         | En yaygƒ±n d√ºz metin formatƒ±|
|.xlsx       | df.to_excel()       | Excel dosyasƒ±na aktarma|
|.json       | df.to_json()        | JSON formatƒ±na aktarma|
|.sql        | df.to_sql()         | SQL veri tabanƒ±na yazma|
|.parquet    | df.to_parquet()     | Hƒ±zlƒ± ve sƒ±kƒ±≈ütƒ±rƒ±lmƒ±≈ü veri formatƒ±|
|.pkl        | df.to_pickle()      | Python nesnesi olarak saklama|

* df.to_csv("veri.csv", index=False)
* df.to_excel("veri.xlsx", index=False)
* df.to_sql("tablo", con=engine)